
<footer class="bg-gray-100 pt-4">
    <div class="flex flex-wrap justify-around pb-12">
        <div class="grid grid-flow-row pl-6">
            <div><a routerLink="/" class="text-2xl font-bold">Partify</a></div>
            <div class=" text-sm text-gray-600">Address: Golu Mobile,Buxidih road,Giridih, 815301, Jharkhand</div>
            <div class=" text-sm text-gray-600">Email: {{email}}</div>
            <div class=" text-sm text-gray-600">Phone: 7992444290</div>
            <div class=" text-sm text-gray-600">Get direction -></div>
        </div>
        <div class="grid grid-flow-row ">
            <div class="text-2xl font-bold">Help</div>
            <div class=" text-sm text-gray-600 pb-1">Privacy policy</div>
            <div class=" text-sm text-gray-600 pb-1">Return + exchange</div>
            <div class=" text-sm text-gray-600 pb-1">Shipping</div>
            <div class=" text-sm text-gray-600 pb-1">Order + Payments</div>
            <div class=" text-sm text-gray-600 pb-1">FAQ's</div>
            <div class=" text-sm text-gray-600 pb-1">My Wishlist</div>
        </div>
        <div class="grid grid-flow-row ">
            <div class="text-2xl font-bold">About us</div>
            <div class=" text-sm text-gray-600">Our story</div>
            <div class=" text-sm text-gray-600">Visit our store</div>
            <div class=" text-sm text-gray-600">Contact us</div>
            <div class=" text-sm text-gray-600">Account</div>
        </div>
       
    </div>
  </footer>